.shadow_container {
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.shadow_main {
  grid-column: 2;
  padding: 28px 24px;
  text-align: center;
  background-color: #2f2f37;
  border: 1px solid #2f2f37;
}

.shadow_hover {
  border: 1px solid #0cc;
}

.shadow_drop {
  border: 1px solid #4c4cff;
}

.shadow_top {
  border-radius: var(--top-constructor-item-border-radius);
}

.shadow_bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}

.shadow_body {
  border-radius: var(--common-border-radius-s);
}
