.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-height: 100vh;
  padding-bottom: 13px;
}

.constructor_container {
  display: grid;
  row-gap: 10px;
  overflow: hidden;
}

.constructor_body {
  display: grid;
  row-gap: 10px;
  overflow-y: scroll;
}
