.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-height: 100vh;
  padding-bottom: 20px;
}

.constructor_container {
  display: grid;
  row-gap: 10px;
  overflow: hidden;
}

.constructor_body {
  display: grid;
  row-gap: 10px;
  overflow-y: scroll;
}

.price_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}
